{% extends "::layoutplay.html.twig" %}
{% block content %}
<h3>Statistics</h3>
<p>
Name {{ nick }}<br>
Exp {{ exp }} <br>
HP {{ hp }} <br>
Stamina {{ stam }} <br>
Str {{ str }} <br>
Weight {{ weight }} <br>
Item {{ item1 }}<br>
Item {{ item2 }}<br>
Item {{ item3 }}<br>

</p>
{% endblock %}
